/* This is a single-line comment */
/* NAV BAR STYLES */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
}

html,
body {
    height: 100%;

}

a {
    padding: none;
    text-decoration: none;
    color: black;
    margin: none;
}


.hidden {
    display: none;
}

.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.7rem;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 0.7rem;
}

.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 0.7rem;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 0.7rem;
}

/* FORM STYLES */

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 2em auto;
}

.box .btn {
    margin: 0.5em auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    transition: 0.5s ease-in-out;
}


.box .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.box .hero {
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;
    padding: 1em 0%;
    margin: 0% 0% 1em 0%;
}

.box form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}

.box img {
    width: 200px;
    height: 200px;
}

.box span,
h2 {
    padding: 1rem;
}

.inputBox {
    position: relative;
    width: 100%;
    margin: 0.5em 0%;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    color: black;
    font-size: 1em;
    pointer-events: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #333333;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: white;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #333333;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
    border-bottom: 1px solid black;
}

#global-nav {
    display: none;

}

.nav-img {
    width: 25px;
    height: 25px;
}

nav a {
    margin: 0 0.5rem;
}

.nav-box {
    display: flex;
    align-items: center;
    width: auto;
}

.nav-box a,
span {
    font-family: 'Josefin Slab', serif;
    font-size: 1.2rem;
    font-weight: 900;
}

.nav-box a:hover {
    color: #333333;
}

#CS50 {
    transition: all 1s ease;
    padding-right: 0.5rem;
}

.mobile-options a {
    display: flex;
    justify-content: left;
    padding: 0.25rem 1rem 0.25rem 0;
    align-items: flex-end;
    justify-content: flex-end;
    transition: all 0.5s ease-in-out;

}

.mobile-options a:hover {
    color: #333333;
    transform: translateY(-5px);


}

#hamburguer-button {
    border: none;
    background-color: inherit;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    position: sticky;
    top: 100%;
    background-color: #000000;
    margin-top: 2rem;
}

.footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0 1rem;

}

#myprofile a {
    display: flex;
    align-items: center;

}

#profile-text {
    color: white;
    font-stretch: extra-expanded;
    padding-left: 7px;
}

#profile {
    width: 120px;
    height: 35px;
}

#footerCS50 {
    width: 90px;
    height: 23px;
}

#linkedin {
    width: 120px;
    height: 25px;
}

.user-options {
    display: inline-block;
    width: 30%;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 1rem;

}

.user-lateral {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
}

.flex {
    display: flex;
    height: 100%;
}

.options {
    display: flex;
    justify-content: left;

}


.options button {
    display: flex;
    justify-content: left;
    border: none;
    background-color: inherit;
    align-items: center;

}

.options button img {
    width: 30px;
    height: 30px;
}

.options button span {
    font-size: 17px;
    padding-left: 0.5rem;
}

.account-options {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.account-options li .options button span {
    text-align: left;
    padding: 0.5rem;
}

.account-options-70-bar {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;

}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#font-change {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: none;
    margin: none;
    margin-top: 1.5rem;
}

#font-change button {
    border: none;
    background-color: #F5F5F5;
    width: 300px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    min-height: 100px;

}

.font-option {
    display: flex;
    justify-content: center;
    width: 100%;
}

#extra-small {
    font-size: 10px;
}
#small{
    font-size: 13px;
}
#medium{
    font-size: 16px;
}
#large{
    font-size: 19px;
}
#extra-large{
    font-size: 22px;
}
#extra-extra-large{
    font-size: 1.6rem;
}
.bar-70{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media screen and (min-width: 790px) {
    .nav-bar {
        display: none;

    }

    #global-nav {
        display: flex;

    }

    .mobile-options a {
        display: none;

    }
}


@media screen and (min-width: 999px) {
    .box .hero {
        width: 450px;
    }

    .box form {
        width: 450px;
    }

}