{% extends "layout.html" %}
{% block title %}
New Releases
{% endblock %}
{% block content %}
<div>
    <span>Filter By:</span>
</div>
<div class="item-filter-mobile">

    <button>Date of release</button>
    <button>color</button>
    <button>Season</button>
    <button>Price</button>
    <button>category</button>

</div>
<div class="container">
    {% for row in rows %}
    <div class="item">

        <span class="item-name">{{row["name"]}} </span>
        <img src="{{row['image_path']}}" alt="">

        <div class="item-container">
            <span class="item-creator">{{row["creator"]}} </span>
            <span class="item-color" style="background-color: {{row['main_color']}}"></span>
        </div>

        <span class="item-description">{{row["description"]}} </span>
        <span class="item-price"> USD {{ row["price"]|float }} </span>

    </div>


    {% endfor %}
</div>


<br>



{% endblock %}