{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<div class="flex ">
    <div class="user-options">
        {% if not "user_id" in session %}
        <div class="options">

            <button id="login-button">
                <img src="/static/icons/log-in2.png" alt="">
                <span>Log in</span>
            </button>
        </div>
        <div class="options">

            <button id="register-button">
                <img src="/static/icons/register2.png" alt="" id="register-img">
                <span>Register</span>
            </button>
        </div>
        {% endif %}

        {% if "user_id" in session %}
        <div class="options">

            <button id="register-button">
                <img src="/static/icons/user2.png" alt="">
                <span>Account</span>
            </button>

        </div>

        {% endif %}
    </div>
    <div class="user-lateral">
        {% if not "user_id" in session %}
        <div class="hidden" id="login-form">
            <div class="box">
                <div class="hero">
                    <h2>Login</h2>
                </div>

                <form action="/user" method="post">
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="login-username" name="login-username"
                            type="text" required>
                        <span>Username</span>
                    </div>
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="login-password" name="login-password"
                            type="password" required minlength="8">
                        <span>Password</span>
                    </div>

                    <button class="btn border" type="submit" name="submit_button" value="login">Log in</button>
                </form>
            </div>
        </div>

        <div class="hidden" id="register-form">
            <div class="box">
                <div class="hero">
                    <h2>Register</h2>
                </div>

                <form action="/user" method="post">
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="register-username" name="register-username"
                            type="text" required>
                        <span>Username</span>
                    </div>
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="register-password" name="register-password"
                            type="password" required minlength="8">
                        <span>Password</span>
                    </div>
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="register-confirmation"
                            name="register-confirmation" type="password" required minlength="8">
                        <span>Confirm Password</span>
                    </div>
                    <button class="btn border" type="submit" name="submit_button" value="register">Register</button>
                </form>

            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}