{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<div class="flex ">
    <div class="user-options">
        {% if not "user_id" in session %}
        <div class="options">

            <button id="login-button">
                <img src="/static/icons/log-in2.png" alt="">
                <span>Log in</span>
            </button>
        </div>
        <div class="options">

            <button id="register-button">
                <img src="/static/icons/register2.png" alt="" id="register-img">
                <span>Register</span>
            </button>
        </div>
        {% endif %}

        {% if "user_id" in session %}
        <div class="options">

            <button id="account-button">
                <img src="/static/icons/user2.png" alt="">
                <span>Account</span>
            </button>

        </div>
        <ul class="account-options">
            <li>
                <div class="options">
                    <button>
                        <span>Settings</span>
                    </button>
                </div>
            </li>
            <li>
                <div class="options">
                    <button >
                        <span>Balance</span>
                    </button>
                </div>
            </li>
            <li>
                <div class="options">
                    <button id="balance-30-bar">
                        <span>Profile</span>
                    </button>
                </div>
            </li>

        </ul>

        <div class="options">

            <button id="log-out">
                <img src="/static/icons/log-out.png" alt="">
                <span>Log out</span>
            </button>

        </div>

        {% endif %}
    </div>



    <div class="user-lateral">
        {% if not "user_id" in session %}
        <div class="" id="login-form">
            <div class="box">
                <div class="hero">
                    <h2>Login</h2>
                </div>

                <form action="/user" method="post">
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="login-username" name="login-username"
                            type="text" required>
                        <span>Username</span>
                    </div>
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="login-password" name="login-password"
                            type="password" required minlength="8">
                        <span>Password</span>
                    </div>

                    <button class="btn border" type="submit" name="submit_button" value="login">Log in</button>
                </form>
            </div>
        </div>

        <div class="hidden" id="register-form">
            <div class="box">
                <div class="hero">
                    <h2>Register</h2>
                </div>

                <form action="/user" method="post">
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="register-username" name="register-username"
                            type="text" required>
                        <span>Username</span>
                    </div>
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="register-password" name="register-password"
                            type="password" required minlength="8">
                        <span>Password</span>
                    </div>
                    <div class="inputBox">
                        <input autocomplete="off" autofocus class="" id="register-confirmation"
                            name="register-confirmation" type="password" required minlength="8">
                        <span>Confirm Password</span>
                    </div>
                    <button class="btn border" type="submit" name="submit_button" value="register">Register</button>
                </form>

            </div>
        </div>
        {% endif %}

        {% if "user_id" in session %}
        <div class="hidden" id="settings-70-bar">
            <div class="box">

            </div>
        </div>

        <div class="hidden" id="balance-70-bar">
            <div class="box">

            </div>
        </div>


        <div class="" id="profile-70-bar">
            <div class="box">
                <h2>Profile </h2>
                <br>
                <span>Account name: {{ loggedUsername }} </span>
                <br>
                <span>Account balance: ${{ loggedMoney }} USD </span>
            </div>
            <hr>

            <div class="box">
                <h2>Change Username </h2>
                <br>
                <form action="/user" method="post">
                    <div class="inputBox">
                        <input autocomplete="off"  class="" id="update-username" name="update-username"
                            type="text" required>
                        <span>New Username</span>
                    </div>
                    <button class="btn " type="submit" name="submit_button" value="update-username">Update</button>
                </form>
            </div>
            <hr>

            <div class="box">
                <h2>Change Password </h2>
                <br>
                <form action="/user" method="post">
                    <div class="inputBox">
                        <input autocomplete="off"  class="" id="old-password" name="old-password"
                            type="text" required>
                        <span>Old Password</span>
                    </div>
                    <div class="inputBox">
                        <input autocomplete="off"  class="" id="update-password" name="update-password"
                            type="text" required>
                        <span>New Password</span>
                    </div>
                    <div class="inputBox">
                        <input autocomplete="off"  class="" id="update-confirmation" name="update-confirmation"
                            type="text" required>
                        <span>Confirm password</span>
                    </div>
                    <button class="btn" type="submit" name="submit_button" value="update-password">Update</button>
                </form>
            </div>
            <hr>

            <div class="box">
                <h2>Add Credit </h2>
                <br>
                <form action="/user" method="post">
                    
                    <div class="inputBox">
                      <input autocomplete="off" class="" id="update-money" name="update-money"
                             type="number" step="0.01" required>
                      <span>Select Amount</span>
                    </div>
                    <button class="btn" type="submit" name="submit_button" value="update-money">Update</button>
                  
                </form>
            </div>

        </div>


        <div class="hidden" id="change-password-70-bar">
            <div class="box">

            </div>
        </div>




        {% endif %}
    </div>


</div>





{% endblock %}